.voltar {
    color: rgb(0, 0, 0);
    background-color: rgb(199, 137, 2);
    border-radius: 10px;
    border: solid 1px black;
    font-size: 20px;
    width: 40px;
    height: 30px;
    border-bottom: none;
}

.titulo-lista_oficinas {
    color: white;
}